<div class="container-fluid">
    <div class="form-group row">
        <%= f.label :text, class: "form-label control-label col-md-2" %>
        <%= f.text_area :text, class: "form-control no-border-radius" %>
    </div>

    <%= render 'shared/nested/remove_button', f: f %>
</div>