<div class="field">
    <%= f.label :text %>
    <%= f.text_area :text %>
</div>

<% if f.object.persisted? %>
    <%= f.check_box :_destroy %>
    <%= f.label :_destroy, I18n.t(:remove) %>
<% end %>
