<% title('Projects Calendar') %>
<h1>Projects Calendar</h1>

<div class="container-fluid background-lighter-grey buffer-padding-10">
    <div class="row">
        <%= render 'calendar', resources: @projects %>
    </div>
</div>
