<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <h1 class="no-margin">Tasks</h1>
    </div>

    <div class="col-md-2 text-center">
      <%= link_to '/tasks/new' do %>
        <%= fa_icon "plus", class: "btn btn-info" %>
      <% end %>
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Details</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @project.tasks.each do |task| %>
      <%= render "tasks/task_display", object: task %>
    <% end %>
  </tbody>
</table>
