<div class="row">
  <div class="col-md-12">
    <p class="text-align-left font-size-200 text-bold" >Contacts</p>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% if @project.customers != nil %>
    <!--Currently set to list all users associated with the project as contacts.  The following partials will need to be reworked once the ability to assign roles to users associated with the project is implented.  -->
    <% @project.users.each do |user| %>
      <%= render "shared/display_models", object: user %>
    <% end %>
    <%else %>
    <p>There are no customers associated with the project.</p>
    <% end %>
  </tbody>
</table>
