<div class="row">
  <div class="col-md-12">
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% if @project.customers != nil %>
    <% @project.customers.each do |customer| %>
      <%= render "shared/display_models", object: customer %>
    <% end %>
    <%else %>
    <p>There are no customers associated with the project.</p>
    <% end %>
  </tbody>
</table>
