<div class="row">
  <div class="col-md-12">
    <h1>Users</h1>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Status</th>
      <th>Details</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <%= render "users/user_display", object: user %>
    <% end %>
  </tbody>
</table>
