<script type="text/javascript">
    window.onload=function(){
        document.getElementById('timebox').innerHTML = moment().format("h:mm A");
        document.getElementById('datebox').innerHTML = moment().format("MMMM Do");
    }
</script>

<div id="timebox" class="text-bold"></div>
<div id="datebox"></div>