<script type="text/javascript">
    var timebox = null,
        datebox = null;
    
    var update = function () {
        timebox.html( moment().format("h:mm A") );
        datebox.html( moment().format("MMMM Do") );
    };
    
    $(document).on('turbolinks:load', function() {
        timebox = $('#timebox')
        datebox = $('#datebox')
        update();
        setInterval(update, 1000);
    });
</script>

<div id="timebox" class="text-bold"></div>
<div id="datebox"></div>