<% if object.errors.any? %>
    <div id="error_explanation" class="col-md-12 buffer-margin-20">
        <div class="alert alert-danger">
            The form contains <%= pluralize(object.errors.count, "error") %>.
        </div>
        <ul class="text-left">
            <% object.errors.full_messages.each do |msg| %>
            <li class="text-danger"><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>
