<div class="row">
  <div class="col-md-6">
      <h2 class="text-left">
          <%= render 'projects/client' %>
      </h2>
  </div>
  <div class="col-md-6">
      <h2 class="text-right">
          <%= render 'shared/clock' %>
      </h2>
  </div>
</div>
