<div class="well background-lighter-grey">
  <%= form_for @document, url: document_path(id: @document) do |f| %>
    <%= render 'shared/error_messages', object: @document %>

    <%= render 'document_fields', f: f %>
  
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<div>