<div class="well background-lighter-grey">
  <%= form_for @document do |f| %>
    <%= render 'shared/error_messages', object: @document %>

    <%= render 'document_fields', f: f %>
  
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<div>