<%= button_to "test", resource_state_change_path("projects", @document), method: :patch, params: { status_method: 'complete' } %>


<p>
  <strong>Title:</strong>
  <%= @document.title %>
</p>

<%= link_to "Edit", edit_document_path(id: @document) %> |
<%= link_to 'Back', documents_path %>
