<% title('Document titled ' + @document.title) %>
<%= content_tag :h1, 'Document titled ' + @document.title %>

<p>
  <strong>Title:</strong>
  <%= @document.title %>
</p>

<%= link_to "Edit", edit_document_path(id: @document) %> |
<%= link_to 'Back', @resource %>
