<!-- this is formatted to be in the header section, this part does not necessaarily need to live here -->
<% if @project != nil %>
  <% if @project.customers != nil %>
  <div class="client-box">
    <div class="row">
      <div class="col-md-2">
  <%= fa_icon "user", class: "fa-3x" %>
      </div>
      <div class="cold-md-2">
        <p class="text-bold"> <%= @project.customers.first.name %> </p>
        <p> From <%= @project.start_date.strftime("%l%P") %> -<%= @project.estimated_completion_date.strftime("%l%P") %> </p>
    </div>
      <% else %>
      <% end %>
    </div>
<% end %>
