  <p class="text-center font-size-200"> Project Status: <%= @project.resource_state%> </p>
  <!-- The following partial the events to change states as buttons.  -->
<%= render "shared/resource_state_actions", object: @project %>
