<% provide(:title, 'Projects') %>

<div class="">
    <ul class="list-unstyled">
      <% @projects.each do |project| %>
        <li>
          <%= project.title %>
        </li>
      <% end %>
    </ul>
</div>
