  <header>
    <!-- ///////////////////////HEADER///////////////////////////// -->
    <div class="row">
      <div class="col-md-1">
        <img id="user-image" src="images/User_Silhouette_Placeholder.png" alt="User Silhouette Placeholder">
      </div>
      <div class="col-md-7">
        <h1 id="user-name"><%= @current_user.first_name + " " + @current_user.last_name %></h1>
        <h6 id="hours">from 8am-6pm</h6>
      </div>
      <div class="col-md-4s" id="header-right">
        <h1 id="local-time"><%= DateTime.now.strftime("%H:%M") %></h1>
        <h3 id="local-date"><%= Date.today %></h3>
      </div>
    </div>
    <!-- //////////////////TOGGLE JOBS BAR/////////////////////////// -->
    <div class="row" id="toggle-screen-bar">
      <img class="col-md-1 arrow" id="left-arrow" src="images/left-arrow.png" alt="left arrow">
      <a class="col-md-5" id="last-job-text" href="#">Previous Job Page</a>
      <a class="col-md-5" id="next-job-text" href="#">Next Job Page</a>
      <img class="col-md-1 arrow" id="right-arrow" src="images/right-arrow.png" alt="right arrow">
    </div>
  </header>
    <div class="row">
    <!-- //////////////////JOB DETAILS SECTION/////////////////////// -->
      <div class="row col-md-7" id="job-details">
        <div class="section-title">
          <p>Job Details</p>
        </div>
        <div id="job-description">
          <h4 class="subheader">Job Description:</h4>
          <p>Fusce a metus eu diam varius congue nec nec sapien. Vestibulum orci tortor, sollicitudin ac euismod non, placerat ac augue.</p>
        </div>

        <!-- /////////////////////TIMELINE/////////////////////////// -->
        <div class="row">
          <div class="col-md-4 timeline">
            <p><span class="subsection-title">Address: </span> 13326 Mestfield Ln</p>
            <p>Portland, OR 97226</p>
          </div>
          <div class="col-md-4 timeline" id="start-end-date">
            <p><span class="subsection-title">Start: </span>March 8, 2017</p>
            <p><span class="subsection-title">Due: </span>March 9, 2017</p>
          </div>
          <div class="col-md-4 timeline">
            <p><span class="subsection-title">Admin: </span>Michael Scott</p>
            <p><span class="subsection-title">Due: </span>Darryl Philbin</p>
          </div>
        </div>
        <!-- ///////////////////////TASK LIST/////////////////////// -->
            <!-- ///////TASK ONE PLACEHOLDER//////// -->
        <div class="row task-list">
          <h3 class="col-md-2 task-number">Task 1</h3>
          <h3 class="col-md-1 bar">|</h3>
          <div class="col-md-6">
            <h3>Mount & Setup Television</h3>
            <p class="subtext">assigned to Darryl Philbin</p>
          </div>
          <img class="icons" src="images/button-placeholder.png" alt="done">
          <img class="icons" src="images/button-placeholder.png" alt="edit">
          <img class="icons" src="images/button-placeholder.png" alt="right arrow">
        </div>
        <div class="task-description">
          <h3 class="subheader">Description</h3>
          <h4>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</h4>
        </div>
            <!-- ///////TASK TWO PLACEHOLDER//////// -->
        <div class="row task-list">
          <h3 class="col-md-2 task-number">Task 2</h3>
          <h3 class="col-md-1 bar">|</h3>
          <div class="col-md-6">
            <h3>Refriderator Installation</h3>
            <p class="subtext">assigned to Nate Nickerson</p>
          </div>
          <img class="icons" src="images/button-placeholder.png" alt="done">
          <img class="icons" src="images/button-placeholder.png" alt="edit">
          <img class="icons" src="images/button-placeholder.png" alt="right arrow">
        </div>
        <div class="task-description-two">
          <h3 class="subheader">Description</h3>
          <h4>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</h4>
        </div>
      </div>
      <!-- //////////////////NOTIFICATIONS/////////////////////// -->
      <div class="col-md-pull-0 col-md-4 right-sidebar-section">
        <table class="table table-striped">
          <thead>
            <tr>
              <div class="section-title">
                <p>Notifications</p>
              </div>
            </tr>
          </thead>
          <tbody>
            <tr class="notification-item">
              <td>
                <h4>There is a screw missing for the television mount.</h4>
                <p>posted by Jerry DiCanio | March 12, 2017 | 1:56pm</p>
                <p id="notification-description-1">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
              </td>
              <td><img class="notification-icon" src="images/button-placeholder.png" alt="right arrow"></td>
            </tr>
            <tr class="notification-item">
              <td>
                <h4>Something is wrong with air hockey table.</h4>
                <p>posted by Jefro Kurt | March 12, 2017 | 11:01am</p>
                <p id="notification-description-2">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. </p>
              </td>
              <td><img class="notification-icon" src="images/button-placeholder.png" alt="right arrow"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- //////////////////CONTACTS/////////////////////// -->
      <div class="col-md-pull-0 col-md-4 right-sidebar-section">
        <table class="table table-striped">
          <thead>
            <tr>
              <div class="section-title">
                <p>Contacts</p>
              </div>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img id="contact-image" src="images/User_Silhouette_Placeholder.png" alt="User Silhouette Placeholder"></td>
              <td>Client Name</td>
              <td>503-555-5555</td>
              <td>clientemail@gmail.com</td>
            </tr>
            <tr>
              <td><img id="contact-image" src="images/User_Silhouette_Placeholder.png" alt="User Silhouette Placeholder"></td>
              <td>Client Name</td>
              <td>503-555-5555</td>
              <td>clientemail@gmail.com</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- //////////////////DOCUMENTS/////////////////////// -->
      <div class="col-md-pull-0 col-md-4 right-sidebar-section">
        <table class="table table-striped">
          <thead>
            <tr>
              <div class="section-title">
                <p>Documents</p>
              </div>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><h4>Document Name</h4></td>
              <td>last updated by</td>
              <td>03/8/2017</td>
              <td>10:17am</td>
            </tr>
            <tr>
              <td><h4>Document Name</h4></td>
              <td>last updated by</td>
              <td>03/8/2017</td>
              <td>10:17am</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>