@import "compass";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


/* ==================== Development Only =================== */

.dev-border { border: 1px solid gray !important; }


/* ==================== SASS Mixins =================== */

@mixin text-vertical-align-middle($height) {
    height: $height !important;
    line-height: $height !important;
    vertical-align: middle !important;
}

@mixin triangle($size, $color, $direction) {
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: $size / 2;

    @if $direction == up {
      border-bottom-color: $color;
    } @else if $direction == right {
      border-left-color:   $color;

    } @else if $direction == down {
      border-top-color:    $color;

    } @else if $direction == left {
      border-right-color:  $color;
    }
}


@mixin bordered-triangle($size, $border-width, $color, $border-color, $direction, $alt: false) {
  $back-size: $size + ($border-width * 2);
  position: relative;

  min-width: $size;
  min-height: $size;

  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
  }

  &:after {
     @include triangle($size, $color, $direction);
  }

  &:before {
    @include triangle($back-size, $border-color, $direction);
    $mid-border-width: ($border-width / 2);
    $border-width-and-mid: $border-width + $mid-border-width;

    @if ($alt == true) {
      $mid-border-width: 0;
      $border-width-and-mid: $border-width * 2;
    }

    @if ($direction == up) or ($direction == down) {
      margin-left: - $border-width;

      @if ($direction == down) {
        margin-top: -$mid-border-width;
      } @else {
        margin-top: - $border-width-and-mid;
      }

    } @else if ($direction == right) or ($direction == left) {
      margin-top: - $border-width;

      @if ($direction == right) {
        margin-left: - $mid-border-width;
      } @else {
        margin-left: - $border-width-and-mid;
      }
    }
  }
}


/* Textual CSS */

.text-decoration-none, .text-decoration-none * { text-decoration: none !important; }

.font-size-500 { font-size: 500%; }
.font-size-400 { font-size: 400%; }
.font-size-300 { font-size: 300%; }
.font-size-280 { font-size: 280%; }
.font-size-250 { font-size: 250%; }
.font-size-230 { font-size: 230%; }
.font-size-200 { font-size: 200%; }
.font-size-190 { font-size: 190%; }
.font-size-180 { font-size: 180%; }
.font-size-150 { font-size: 150%; }
.font-size-140 { font-size: 140%; }
.font-size-130 { font-size: 130%; }
.font-size-120 { font-size: 120%; }
.font-size-110 { font-size: 110%; }
.font-size-100 { font-size: 100%; }
.font-size-90 { font-size: 90%; }
.font-size-80 { font-size: 80%; }
.font-size-70 { font-size: 70%; }
.font-size-60 { font-size: 60%; }

.font-size-500-important { font-size: 500% !important; }
.font-size-400-important { font-size: 400% !important; }
.font-size-300-important { font-size: 300% !important; }
.font-size-280-important { font-size: 280% !important; }
.font-size-250-important { font-size: 250% !important; }
.font-size-230-important { font-size: 230% !important; }
.font-size-200-important { font-size: 200% !important; }
.font-size-190-important { font-size: 190% !important; }
.font-size-180-important { font-size: 180% !important; }
.font-size-150-important { font-size: 150% !important; }
.font-size-140-important { font-size: 140% !important; }
.font-size-130-important { font-size: 130% !important; }
.font-size-120-important { font-size: 120% !important; }
.font-size-110-important { font-size: 110% !important; }
.font-size-100-important { font-size: 100% !important; }
.font-size-90-important { font-size: 90% !important; }
.font-size-80-important { font-size: 80% !important; }
.font-size-70-important { font-size: 70% !important; }
.font-size-60-important { font-size: 60% !important; }


.font-size-25px { font-size: 25px; }

.text-bold { font-weight: bold; }
.text-italic { font-style: italic; }

/* Contextual CSS */

.cursor-pointer { cursor: pointer; }
.no-border-top { border-top: none !important; }
.no-border-bottom { border-bottom: none !important; }
.no-border-right { border-right: none !important; }
.no-border-left { border-left: none !important; }
.no-border { border: none !important; }
.border-radius-10 { @include border-radius(10px); }
.border-radius-5 { @include border-radius(5px); }
.border-radius-2 { @include border-radius(2px); }
.no-border-radius { @include border-radius(0px !important); }
.no-background { background: none !important; }

.border-shadow-outter-15 { @include box-shadow(0px 0px 15px 0px rgba(0,0,0,0.4)); }
.border-shadow-inner-top { @include box-shadow(inset 0 7px 9px -7px rgba(0,0,0,0.4)); }
.no-box-shadow { @include box-shadow(none); }
.no-outline { outline: none; }

.scroll-vertically { overflow-y: scroll; }

.color-inherit { color: inherit; }


/* Positional CSS */

.width-100 {
	min-width: 100%;
	width: 100%;
}

.height-100 {
	min-height: 100vh;
}

.buffer-padding-200 { padding-top: 200px; padding-bottom: 200px; }
.buffer-padding-100 { padding-top: 100px; padding-bottom: 100px; }
.buffer-padding-70-horizontal { padding-left: 70px; padding-right: 70px; }
.buffer-padding-60-horizontal { padding-left: 60px; padding-right: 60px; }
.buffer-padding-70 { padding-top: 70px; padding-bottom: 70px; }
.buffer-padding-60 { padding-top: 60px; padding-bottom: 60px; }
.buffer-padding-50 { padding-top: 50px; padding-bottom: 50px; }
.buffer-padding-50-horizontal { padding-left: 50px; padding-right: 50px; }
.buffer-padding-45 { padding-top: 45px; padding-bottom: 45px; }
.buffer-padding-40 { padding-top: 40px; padding-bottom: 40px; }
.buffer-padding-30 { padding-top: 30px; padding-bottom: 30px; }
.buffer-padding-25 { padding-top: 25px; padding-bottom: 25px; }
.buffer-padding-20 { padding-top: 20px; padding-bottom: 20px !important; }
.buffer-padding-20-horizontal { padding-left: 20px; padding-right: 20px; }
.buffer-padding-15 { padding-top: 15px; padding-bottom: 15px; }
.buffer-padding-10 { padding-top: 10px; padding-bottom: 10px; }
.buffer-padding-10-horizontal { padding-left: 10px; padding-right: 10px; }
.buffer-padding-5 { padding-top: 5px; padding-bottom: 5px; }

.buffer-margin-200 { margin-top: 200px; margin-bottom: 200px; }
.buffer-margin-150 { margin-top: 150px; margin-bottom: 150px; }
.buffer-margin-100 { margin-top: 100px; margin-bottom: 100px; }
.buffer-margin-70 { margin-top: 70px; margin-bottom: 70px; }
.buffer-margin-60 { margin-top: 60px; margin-bottom: 60px; }
.buffer-margin-50 { margin-top: 50px; margin-bottom: 50px; }
.buffer-margin-40 { margin-top: 40px; margin-bottom: 40px; }
.buffer-margin-30 { margin-top: 30px; margin-bottom: 30px; }
.buffer-margin-25 { margin-top: 25px; margin-bottom: 25px; }
.buffer-margin-20 { margin-top: 20px; margin-bottom: 20px; }
.buffer-margin-15 { margin-top: 15px; margin-bottom: 15px; }
.buffer-margin-10 { margin-top: 10px; margin-bottom: 10px; }
.buffer-margin-10-horizontal { margin-left: 10px; margin-right: 10px; }
.buffer-margin-5 { margin-top: 5px; margin-bottom: 5px; }
.buffer-margin-5-horizontal { margin-left: 5px; margin-right: 5px; }

.no-padding { padding: 0 !important; }
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
.no-padding-top { padding-top: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-margin { margin: 0 !important; }
.no-margin-top { margin-top: 0 !important; }
.no-margin-bottom { margin-bottom: 0 !important; }
.no-margin-right { margin-right: 0 !important; }
.no-margin-left { margin-left: 0 !important; }

.inline-block { display: inline-block; }

.no-transition { @include transition(none !important); }

.text-vertical-center-height-60 { @include text-vertical-align-middle(60px); }

.vertical-align-middle,
  .vertical-align-middle *,
  .vertical-align-middle > tbody > tr > td { vertical-align: middle; }


/* List CSS */

.list-style-dashed {
	list-style-type: none;

	&> li:before {
		content: "-";
		margin: 0 5px 0 -20px;
	}
}

.list-circle-o {
	list-style-type: none;

	&> li:before {
		font-family: 'FontAwesome';
		content: '\f10c';
		margin: 0 5px 0 -20px;
	}
}

.list-style-pipe-after {
	list-style-type: none;

	&> li:after {
		content: "|";
		margin: 0 0 0 20px;
	}
}

/* Form CSS */
.form-control {
  width: 80%;
  border-radius: 0px;

}

.form-label {
  margin-left: 25px;
}
