#projects {
  #header-right {
    text-align: right;
    font-weight: bold;
    margin-right: 5em;
  }
  
  #user-image {
    width: 4em;
    height: auto;
    margin-left: 4em;
    margin-top: 1.5em;
  }
  
  #hours {
    margin-left: 3.2em;
  }
  
  #local-time {
    font-weight: bold;
  }
  
  #user-name {
    font-weight: bold;
    margin-left: 1em;
  }

  #toggle-screen-bar {
    background: #FFFFFF !important;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  @media only screen and  (max-width: 1430px) {
    /*#user-name, #hours {
      margin-left: 12%;
    }*/
    #header-right {
      margin-right: 2em;
      width: 20%;
      float: right;
    }
    .right-sidebar-section {
      margin-left: 2em !important;
      margin-right: 2em;
      width: 94.5%;
    }
    .center-column > .col-md-7, .center-column > .right-sidebar-section {
      width: 94.5%;
      margin-right: 2em;
    }
    #user-image {
      margin-left: 1em;
    }
  }

  .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #F2F2F2 !important;
  }
  
  .table-striped > tbody > tr:nth-of-type(even) {
    background-color: #E5ECEB;
  }
  
  .table > tbody > tr > td {
    vertical-align: middle;
  }
  
  #contact-image {
    width: 2em;
  }
}